    html,
    body {
        background-image: url(../img/login.png);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        font-family: fantasy;
    }
    
    form {
        background-color: transparent;
    }
    
    .mb-4 {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        ;
    }